$color116ACC: #116ACC;
$color182233: #182233;
$colorB3CEE2: #B3CEE2;
$colorD9DDE7: #D9DDE7;
$colorFD4E5D: #FD4E5D;
$color000000: #000000;
$color1F2937: #1F2937;
$color4B5563: #4B5563;
$color6B7280: #6B7280;
$color9CA3AF: #9CA3AF;
$color374151: #374151;
$colorD1D5DB: #D1D5DB;
$colorF3F4F6: #F3F4F6;
$colorFFFFFF: #FFFFFF;
$colorA0C3FF: #A0C3FF;
$color5897DB: #5897DB;
$color76CA66: #76CA66;
$colorFBC756: #FBC756;
$colorBA0000: #BA0000;
$colorCFE1F5: #CFE1F5;
$color0C4A8F: #0C4A8F;
$colorEBEFF7: #EBEFF7;
$colorDBE4F7: #DBE4F7;
$colorEDDCDD: #EDDCDD;
$colorC7CBD1: #C7CBD1;

$fs13: 13px;
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs24: 24px;
$fs32: 32px;
$fs34: 34px;

$fw400: 400;
$fw500: 500;
$fw600: 600;
$fw700: 700;

$transition-time: 0.3s;

$gap: 50px;

